/* select root element (html) */
/* define colors */
:root{
    --pink-color:#fbd2cd;
    --dark-pink:#69194f;
    --light-green-color:#94c11f;
    --light-pink-color:rgba(78, 14, 57, 0.651);
    --danger-color:rgb(73, 3, 3);
    --light-danger:rgba(54, 23, 23, 0.849);
    --dark-color:#19283f;
    --green-color:#33d1cc;
    /* --light-green-color:#33d1ccb9; */
    --red-color:#ff3150;
    --light-red-color:#ff3150c5;
    --yellow-color:#ffc400;
    --section-color:#d8e0e386;
}
body{
    font-family: 'Merienda', cursive;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Bricolage Grotesque', sans-serif; */
    /* height: 1000px; */
}
/* start navbar */
.navbar img{
    height: 30px;
    /* width: 70px; */
    /* border: 1px solid; */
}
.navbar {
    background-color: var(--pink-color)
}
.navbar .navbar-nav .nav-link{
    color: var(--dark-pink)
}
.navbar .navbar-toggler{
    color: var(--dark-pink);
    border-color: var(--dark-pink);
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    /* color: var(--light-green-color) */
    color: var(--light-pink-color);
}
.navbar .search{
    color: var(--dark-color);
    border-left: 1px solid var(--dark-color);
    cursor: pointer;
}
.dropdown-menu.show{
    --bs-dropdown-bg:var(--pink-color)!important;
    background-color: var(--pink-color)!important;
}
.main-btn{
    /* background-color: var(--green-color);
    color: var(--dark-color); */
    background-color: var(--dark-pink);
    color: white;
    /* font-weight:500; */
}
.main-btn:hover,
.main-btn:focus{
    /* background-color:var(--light-green-color) ;
    color: var(--dark-color); */
    background-color: var(--light-pink-color)!important;
    color: var(--pink-color)!important;
    outline: none;
    border: 0;
}
.navbar .nav-item:last-child a span{
    font-size: 14px!important;
}
/* end navbar */

/* start landing */
.landing{
    /* height: 550px; */
    /* border: 1px solid; */
    overflow: hidden;
    /* min-height: calc(100vh - 70px); */
    background-color: var(--pink-color);
}
.carousel-caption h2{
    font-size: 3rem;
    color: var(--dark-pink)
}
.carousel-caption h2 .upto {
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    -webkit-writing-mode:vertical-lr;
    -ms-writing-mode:vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    font-size: 2.4rem;
    /* color: var(--light-pink-color); */
}
.carousel-caption h2 .number{
    font-size: 7rem;
}
.carousel-caption h2 .percent{
    font-size: 4rem;
}
.carousel-caption p{
    color:var(--light-danger)
}
.landing .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: var(--dark-pink);
}
/* .landing .carousel{
    width: 100%;
    height: 100%;
}
.carousel-inner .carousel-item{
    height: 100%;
}*/
.landing .carousel-inner .carousel-item img {
    height: calc(100vh - 72px)
    
}
/* end landing */

/* start new arrival */
.new-arrival{
    background-color: var(--pink-color);
}
.new-arrival h2{
    color: var(--dark-pink);
    margin-bottom: 5px;
}
.new-arrival .underline{
    background-color: var(--light-pink-color);
    height: 3px;
    width: 100px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    /* margin-top: -50px; */
}
.new-arrival .underline:hover{
    transform: scaleX(2);
    -webkit-transform: scaleX(2);
    -moz-transform: scaleX(2);
    -ms-transform: scaleX(2);
    -o-transform: scaleX(2);
    transform-origin: center;
}
.new-arrival .arrival-menu li{
    background-color: var(--dark-pink)!important;
    color: white!important;
    cursor: pointer;
}
.new-arrival .arrival-menu li:hover{
    background-color: var(--light-pink-color)!important;
}
.card-img-top {
    height: 300px;
}
.new-arrival .carousel-inner .carousel-item img {
    height: 300px
    
}
.new-arrival .carousel-inner i {
    color: var(--dark-pink);
    font-size: 20px;
    
}
.new-arrival .carousel-indicators [data-bs-target] {
    background-color: var(--dark-pink);
}
.new-arrival .card{
    --bs-card-bg: none;
    --bs-card-border-color: none;
}
.new-arrival .card-title{
    font-size: 14px;
    /* line-height: 1.5; */
}
.new-arrival .card-body{
    background-color: white;
}


/* end new arrival */
/* start modal */
.modal-title{
    color:var(--dark-pink);
}
.modal-body .items-content{
    color: var(--dark-pink);
}

/* end modal */